.body-wrapper {
  display: flex;
  height: 100vh;
  flex-grow: inherit;
}

.main {
  width: 100vw;
  background-color: rgba(1,1,1,.2);
  padding-left: 3%;
  transition: all 0.5s ease !important;
  /* width: 85%; */
}

.sidenav {  
  background-image: url("../../assets/images/sidebar-2.jpg");
  background-size: cover;  
  width: 3%;
  overflow-x: hidden;
  transition: all 0.5s ease;
  position: absolute;
}

.sidenav.show {
  width: 15%;
}

.sidenav:hover {
  width: 15%;
}

.sidenav-show {
  margin-left: 15%;
  padding: 0;
  /* transition: all 0.5 ease; */
}
